### very common modules
numpy
matplotlib
Pillow

### selenium
selenium

### Open CV
opencv-python==4.1.0.25

#### DEVELOPMENT Tools
### for remote debug(VS Code)
##   https://code.visualstudio.com/docs/python/debugging#_remote-debugging
ptvsd
## static type checker
mypy

## pip freeze > requirements.txt
### pip install -r docker\python3\requirements.txt
