### very common modules
numpy
matplotlib

### for remote debug(VS Code)
##   https://code.visualstudio.com/docs/python/debugging#_remote-debugging
ptvsd

### selenium
selenium

### Open CV
opencv-python==4.2.0.32

## pip freeze > requirements.txt
