[gotoUrl]
retry=10

[https://login.microsoftonline.com]
user = userid
password=password
user_field=#i0116
user_next=#idSIButton9
password_field=#i0118
password_next=#idSIButton9
remember_next=#idSIButton9
